@model CreateStudentTaskModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Student Task</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Task Name</label>
                    <input asp-for="StudentTask.Name" class="form-control" />
                    <span asp-validation-for="StudentTask.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea asp-for="StudentTask.Description" class="form-control"></textarea>
                    <span asp-validation-for="StudentTask.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentTask.Deadline" class="control-label"></label>
                    <input asp-for="StudentTask.Deadline" class="form-control" />
                    <span asp-validation-for="StudentTask.Deadline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
