@model IEnumerable<SecuringApps.Application.ViewModels.StudentTaskViewModel>
@using SecuringApps.Presentation.Utilities
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tasks</title>
</head>
<body>
    @foreach (var task in Model)
    {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@task.Name</h5>
                    <h6 class="card-title">@task.Description</h6>
                    <p class="card-title">@task.Deadline</p>
                    @if (User.IsInRole("Student"))
                    {
                        @Html.ActionLink("Submit Work", "Create", "StudentWork", new { id = Encryption.SymmetricEncrypt(task.Id.ToString()).Replace("/", "|").Replace("+", "_").Replace("=", "$") })
                    }
                </div>
            </div>
     }
    @if (User.IsInRole("Teacher"))
    {
        <a href="StudentWork/AllStudentWork" class="btn btn-primary">Show Submitted Work</a>
    }
</body>
</html>
