@model IEnumerable<SecuringApps.Application.ViewModels.CommentsViewModel>

<h1>Details</h1>

<div>
    <hr />
    <partial name="DetailsPartialView" />

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

