@model IEnumerable<SecuringApps.Application.ViewModels.CommentsViewModel>

<div>

    @foreach (var task in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@task.comment</h5>
                    <p class="card-title">@task.writtenBy</p>
                    <a class="card-title">@task.writtenOn</a>

                </div>
            </div>
        </div>

    }
</div>