@model CreateStudentWorkModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h1>Create Work</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Select a local file</label>
                    <input asp-for="StudentWork.filePath" type="file" name="file" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Task Name</label>
                    <select asp-for="StudentWork.StudentTask.Id" class="form-control">
                        @foreach (var task in Model.StudentTasks)
                        {
                            <option value="@task.Id">@task.Name</option>
                        }
                    </select>
                    <span asp-validation-for="StudentWork.StudentTask.Id" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>